/* login css */
.form {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginform {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.826);
    padding: 3rem 4rem;
    border-radius: 10px;

}

.loghead {
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;

}

.loginput {
    width: 100%;
    border: none;
}

.logbtn {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 6px;
    border: 2px solid white;
    cursor: pointer;
}

.singuplink {
    padding: 5px;
    background-color: none;
    font-size: 14px;
    cursor: pointer;

}

.signupa {
    color: rgb(224, 223, 223);
    text-decoration: none;
}

.signupa:hover {
    text-decoration: underline;
    transition: 1s ease-in;
}
.crosbtn{
    position: absolute;
    top: 3px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}