.allposts-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

.allposts-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 40px;
  color: black;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.post-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-content {
  padding: 10px 16px;
}
.infoa{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p.p{
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #3b3a3a;
  background-color: #e6e6e6d1;
  border-radius: 6px;
  padding: 0px 5px ;
}

.post-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 5px 0px;
  color: #222;
  margin: 0;
}

.post-excerpt {
  font-size: 0.95rem;
  color: #555;
  margin: 0;
}
.post-excerpt p{
margin: 0;

}

.read-more-btn {
  display: inline-block;
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0;
}

.read-more-btn:hover {
  color: #0056b3;
}

.loading,
.no-posts {
  text-align: center;
  font-size: 1.1rem;
  color: #777;
  margin-top: 50px;
}
.paginationn {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.arrow-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.arrow-btn:hover {
  background: #333;
}

.arrow-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
