.up {
  background: url(../../images/up.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  object-fit: cover;
  /* width: 100%; */
  height: 100vh;
  padding: 0;
}
.itext {
    height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maint {
  text-align: center;
  padding: 0;
}
.maint {
 
  opacity: 0;
  transform: translateY(25px);
  animation: moveUp 1.2s ease forwards;
  animation-delay: 0.6s;
}

@keyframes moveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.headl{
    color: white;
    font-size: 3rem;
font-weight: 600;
}
.plink{
    color: white;
    font-size: 20px;
    font-weight: 400;
    
}
.linkbtn{
    margin: 2rem;
    border: 2px solid white;
    border-radius: 12px;
    padding: 0.6rem 1rem;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(3, 3, 82, 0.825);
}
.linka{
    color: white;
    text-decoration: none;

}