.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.carousel {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 450px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.9s ease, transform 1.2s ease;
  transform: scale(1.05);
}

.slide.active {
  opacity: 1;
  transform: scale(1); /* Zoom animation */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caption {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  width: max-content;
  max-width: 100%;
  transition: 0.9s ease;
}
/* .caption {
  opacity: 0;
  transform: translateY(25px);
  animation: moveUp 1.2s ease forwards;
  animation-delay: 0.6s;
}

@keyframes moveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.chead {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}
.cmid {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
/* Dots nav */
.dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.active-dot {
  background: #333;
  transform: scale(1.2);
}

/* Loading style */
.loading {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}
