.about {
    padding: 1rem 5rem;
    height: 100vh auto;
}

.aboutpic {
    position: relative;
    background: url("../../images/about.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 340px;
    border-radius: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.linea {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60%;
    border-radius: 0px 50px;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: #024f80;
    background-color: white;
}

.icona {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

.abouttext {
    display: flex;

}

.abouthead {
    font-size: 3.6rem;
    line-height: 1.3;
    color: #024f80;
    font-weight: 600;
    text-align: left;
    max-width: 800px;
    margin: 0;
    margin: 2rem 0;
}

.aboutnewsn {
    color: #014268;
}

.ab {
    display: block;
}

.aboicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.abi {
    font-size: 1.2rem;
    color: #024f80;
    font-weight: 500;
    margin: 0;
}

.iconabout {
    border: 1px solid #024f80;
    border-radius: 50%;
}

.habout {
    font-size: 2rem;
   color: #024f80;
    font-weight: 500;
    margin: 0;
    margin: 1rem 0;
}

.maincabout {
    display: flex;
    /* flex-direction: row; */
    gap: 1rem;
}

.linea {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
.linea{
    display: none;
}

    .aboutpic {
        height: 200px;
    }

    .maincabout {
        flex-direction: column;

    }

    .icona {
        display: none;
    }
    .la{
        flex-wrap: wrap;
        
    }

}

.leftabout {
    flex: 1;
    width: 50%;


}

.la {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    position: relative;
    top: 0px;
    right: 5px;
    padding: 1rem;
    margin: 10px 0;
    padding-bottom: 2.5rem;
}

.cardabout {
    background-color: #dbdbdb;
    padding: 0.5rem 1.5rem;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: left;


}

.cla {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #014268;
}

.clap {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #014268;
    margin: 10px 0;

}

.footer-socialab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    padding: 0.6rem 0;
    background-color: rgb(130, 129, 129);
    border: 2px solid #014268;
    margin: 0.6rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(1, 10, 43, 0.1);
}

.abounic {
    width: 40px;
    height: 40px;
}

.rightabout {
    flex: 1;
    width: 50%;
}

.lar {
    padding: 1rem;
}

.aouth {
    font-size: 2rem;
    font-weight: 500;
    color: #024f80;
    margin: 0;
}

.count {
    font-size: 1.5rem;
    font-weight: 500;
    color: #808181;
    margin-bottom: 1rem;
    margin: 0;
}

.abp {
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.pana {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    margin: 0;
}

.bb {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.phana {
    font-size: 1rem;
    font-weight: 500;
    color: #014268;
}

.contacta {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.privcy{
    padding: 2rem 0;
    cursor: context-menu;
}
.Privacyh{
    font-size: 2rem;
    color: #014268;
}
.Privacyp{
    font-size: 18px;
    color: rgb(52, 51, 51);
}
.cardabout:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.abounic:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
    .about{
        padding: 10px;
    }
    .box {
        flex-direction: column;
        gap: 1rem;
    }

    .leftabout,
    .rightabout {
        width: 100%;
    }
    .la{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .cardabout{
        width: 100%;

    }

}

