.contactpage {
    height: 100vh auto;
    padding: 2rem 5rem;
}

.mainc {
    display: inline-block;
    width: 100%;
}

.topc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.topchead {
    font-size: 3rem;
    color: rgb(3, 80, 135);
    text-align: center;
    margin-top: 2rem;
}

.topcp {
    font-size: 16px;
    color: rgb(3, 80, 135);
    max-width: 700px;
    text-align: center;
    font-weight: 500;
}

.cmid {
    display: flex;
    gap: 1.5rem;

}

@media screen and (max-width: 818px) {
    .cmid {
        flex-direction: column;
    }

}

.left {
    flex: 2;

    position: relative;
    background-color: rgba(234, 234, 234, 0.723);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.cblock {
    display: block;
}

.cblockhead {
    font-size: 2rem;
    color: rgb(1, 42, 28);
    margin-bottom: 1rem;
}

.cblockphead {
    font-size: 16px;
    color: rgb(1, 42, 28);
    margin-bottom: 0.5rem;
}

.cinbox {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.labelc {
    font-size: 18px;
    color: rgb(1, 3, 42);
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input,
textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    font-size: 16px;
    width: 100%;
}

.ctbn {
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    background-image: linear-gradient(to top, rgb(15, 179, 200), rgb(3, 49, 135));
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-weight: 600;
    font-size: 20px;
}

.ctbn:hover {
    background-image: linear-gradient(to top, rgb(5, 148, 167), rgb(10, 57, 144));
}

.right {
    flex: 1;
}



.block {
    background-image: linear-gradient(to top, rgb(15, 179, 200), rgb(3, 49, 135));
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 2rem;
}

.logoc {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logotc {
    color: white;
    font-size: 1rem;
}

.h2c {
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    z-index: 999;
    font-weight: 500;
    max-width: 70%;
    position: relative;
    z-index: 1;

}

.manc {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    opacity: 0.9;

}

@media screen and (max-width: 968px) {
    .manc {
        right: 0;

    }

}

.contactblock {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    background-color: rgba(234, 234, 234, 0.629);
    border-radius: 1rem;
    padding: 2rem 1rem;
}

.cardc {
    width: 90%;
    background-color: rgba(123, 195, 236, 0.432);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cimg {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    object-fit: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ctext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5rem;
}

.ctexthead {
    font-size: 1rem;
    color: rgb(1, 3, 42);
    font-weight: 600;
    margin: 0;
}

.ctextp {
    font-size: 0.9rem;
    color: rgb(110, 110, 111);
    margin: 0;
    font-weight: 500;
}