.ca {
  height: calc(100vh - 60px) auto;
  width: 100%;
  color: white;
}

.cmd {
  height: 300px;
  background: linear-gradient(to top, white, #547489, rgb(3, 49, 135));
  padding: 2rem 5rem;
}

.catehead {
  flex: 1;
  text-align: center;
  display: flex;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  /* align-items: baseline;
  gap: 0.5rem; */
}

.linedesign {
  width: 20%;
  height: 5px;
  background-image: linear-gradient(to left, white, #547489, rgb(3, 49, 135));
  margin: 1rem 0;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.cb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.cate {
  list-style: none;
  background-color: #547489;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  margin: 0;
  text-transform: uppercase;
}

.cate:hover {
  background-color: #282828;
  transition: all 0.3s;
  transform: scale(1.1);
}

.linkcate {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.cf {
  /* background-color: #000; */
}

.toppadd {
  color: black;
  font-weight: 500;
  text-align: center;

  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.notcate {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5rem;
}

.postcate {
  width: 300px;
}

/* notfound page css */

.notfound {
  width: 100%;
  height: 100vh;
  position: relative;
}

.notpage {
  width: 100%;
  height: 100%;
}

.textnot {
  position: absolute;
  bottom: 50px;
  right: 100px;
  font-size: 1.5rem;
  color: gray;
}

.textnoth {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 50px;
  border: none;
  background: none;
}

.textn {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background-color: #282828;
  border: 1.5px solid gray;
  border-radius: 10px;
  /* margin: 5px; */
  padding: 5px 8px;
  display: flex;
  align-items: center;
}

/* components/Destinations.css */
.ddcate {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  height: 100vh auto;
  padding: 5rem 5rem;
  background-color: transparent;
  border-bottom: 1px solid gray;
}
@media (max-width: 789px) {
  .ddcate {
    flex-wrap: wrap;
  }
}

.cate-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 330px;
  width: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 3px 6px rgba(212, 211, 211, 0.5);
  background-color: white;
  /* border: 1px solid gray; */
}

.imgcared {
  position: relative;
}

.cate-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.ppt {
  padding: 10px 16px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cate-card h3 {
  margin: 0;
  font-size: 1rem;
  color: black;
}

.pcate {
  position: absolute;
  bottom: 0px;
  left: 5px;
  background-color: #282828;
  text-transform: uppercase;
}

.cate-card .p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: gray;
}
.p p {
  margin: 0;
}
