/* components/Hero.css */
.hero {
  height: calc(100vh - 60px);
  width: 100%;
  background: 
    url('./main\ back\ newscovry.jpg') center/cover no-repeat;
  color: white;
  position: relative;
  left: -20;
  background-color: white;
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.felx {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: relative; */

}

.newsmp {
  flex: 1;
  width: 700px;
  height: 100vh;
  object-fit: cover;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;


}

.hero-content {
  flex: 2;
  padding-left: 5rem;
  height: 100%;
  z-index: 1;
}

.herohead {
  margin-top: 8rem;
}

.hero h1,
head {
  /* margin: 0; */
  font-size: 3rem;
  /* margin-bottom: 1rem; */
}

.p-contnt {
  max-width: 600px;
}
.p-contnt{
 
  opacity: 0;
  transform: translateY(25px);
  animation: moveUp 1.2s ease forwards;
  animation-delay: 0.6s;
}
.herobtn{
background-color: rgba(130, 174, 187, 0.494);
color: white;
font-family: "Segoe UI";
font-weight: 500;
font-size: 20px;
border: 2px solid white;
border-radius: 6px;
padding: 0.5rem 1.5rem;
margin-top: 10px;
cursor: pointer;

}
@keyframes moveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.herop {
  font-size: 18px;
  font-weight: 400;

}

.hero-image {
  /* height: 50vh; */
  flex: 1;
  gap: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 5rem;
  right: 1px;
}

@media screen and (max-width: 968px) {


  .herop {
    font-size: 14px;
    margin: 0;
  }

  .hero-image {
    gap: 1rem;
  }

}


.socialIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.socialIcon{
 
  opacity: 0;
  transform: translateY(25px);
  animation: moveUp 1.2s ease forwards;
  animation-delay: 0.6s;
}

@keyframes moveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line {
  content: " ";
  width: 50px;
  height: 1.5px;
  background-color: white;

}

.navtop {
  position: relative;
}

@media screen and (max-width: 868px) {
  .hero {
    flex-direction: column;
    height: 100vh auto;
    /* padding: 2rem; */
  }

  .hero-content {
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero h1 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .hero-image {
   display: none;
  }

  .line {
    display: none;
  }

}