.App {
  padding: 0;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;

}



/* App.css */
.App {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  width: 100%;
  height: 100vh auto;

}
/* === Loading Spinner === */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* .. */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
