body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Segoe UI', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  color: white;

  overflow-x: hidden;
  overflow-y: auto;
}

